<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<criteries>
    <directory></directory>
    <filePattern></filePattern>
    <fileContent></fileContent>
  </criteries>-->
  <appSettings>
    <add key="directory" value=""/>
    <add key="filePattern" value=""/>
    <add key="fileContent" value=""/>
  </appSettings>
</configuration>